ssh_user: debian
remote_path: /home/debian/.openclaw
private_mode: false # Do not display IP addresses
silent_mode: true   # Silence SSHKit output; set to false for debugging

hosts:
  - 10.0.0.1 # Replaced by ENV["HOSTS"] in .env

directories:
  - name: my-agent
    source: openclaw/workspace-my-agent
    target: workspace

# Sync individual files, or use "*" to sync the whole remote_path
# files: "*"
# files:
#   - name: gateway-config
#     source: openclaw/config.json
#     target: config.json
